.ctr-input {
  color: var(--primary-color);

  flex-basis: 100%;
  position: relative;

  &__container {
    position: relative;
  }

  &__currency {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1rem;
    font-size: .75rem;
    font-weight: 600;
    background: none;

    &--disabled {
      color: var(--disabled-input-text);
    }
  }

  &__input {
    height: 3rem;
    border: 1px solid rgba(0, 0, 0, .5);
    border-radius: .5rem;
    padding: 1rem;
    min-width: 1rem;
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
    transition: border .3s;
    color: var(--disabled-input-text);

    &::placeholder {
      font-size: .825rem;
      font-weight: 500;
      opacity: .75;
      transition: opacity .3s;
    }

    &--disabled {
      pointer-events: none;
      color: var(--disabled-input-text);
      background: var(--disabled-input);
    }

    input {
      &:read-only {
        pointer-events: none;
      }
    }

    &:disabled {
      pointer-events: none;
    }

    &:focus:not(:read-only) {
      outline: 2px solid rgb(40, 83, 107, .25);
      border: 1px solid var(--primary-color);
    }

    &:hover {
      border: 1px solid var(--primary-color);

      &::placeholder {
        opacity: 1;
      }
    }
  }

  &__label {
    display: block;
    font-size: 0.75rem;
    margin-bottom: .5rem;
    font-weight: 400;
    color: rgba(0, 0, 0, .9);
  }
}
