:root {
  --main-bg-color: #F9F9F9;
  --secondary-color: #ECF1F4;
  --primary-color: #28536B;
  --primary-hover-color: #CFDCE3;
  --secondary-text: #4C758C;
  --disabled-input: #EBEBEB;
  --disabled-input-text: #4D4D4D;
}
